.header{

    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    width: 90%;
    font-weight: 800;
    padding: 0px 20px;
}

.header h4{
font-weight: 800;}

.header h3{
    font-weight: 800;  
}