.header{

    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    font-weight: 800;
    padding: 0px 49px;
    margin-bottom: 3em;
}

.header h4{
font-weight: 800;}

.header h3{
    font-weight: 800;  
}