.hiro {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100% ;
    /* padding:0 16px ; */
    height: 100%;
}
.hiro>div {
    width: 100% !important;
    height: 100% !important;
    background-color: var(--silver);
    border-radius: 20px 20px 0 0;

}
.hiro>div>div>{
    height: 100% !important;
}
.hiro>div>div:last-child{
    height: 70% !important;
}
.hiro>div>div:last-child>div{
    height: 100% !important;
}
.hiro>div>div:last-child>div>div{
    height: 100% !important;
}

.activityMarker {
    width: 1vw;
    height: 1vh;
    background-color: rgb(45, 179, 196);
    border-radius: 50%;
}