.contentNoActive{
    width: 90%;
}
.contentActive{
    width: 80%;
}
.content{
    background-color: #FEFEFE;
    height: 100%;
    position: absolute;
    left: 0;
    z-index: 2;
    border-radius: 0px 60px 0px 0px;
}
